.SobreCartao{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 200px;
}

.Cima{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.CircuitoEsq{
    position: relative;
    width: 50%;
    height: 500px;
}

.CircuitoTamanho{
    width: 650px;
}

.CircuitoTamanhoD{
    width: 650px;
    margin-top: 150px;
    float: right;
}

.CartaoDuplo{
    width: 50%;
    height: 500px;
}

.CartaoTamanho{
    margin-left: 50px;
    width: 600px;
}

.Baixo{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.TextoCartao{
    position: relative;
    width: 50%;
    height: auto;
}

h3{
    margin-top: 100px;
    font-size: 60px;
    margin-bottom: 50px;
    color: #00AFCE;
}

.p_Cartao{
    font-size: 40px;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.CircuitoDir{
    position: relative;
    width: 50%;
    height: 500px;
}

.Botao {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Abra {
    width: 50%;
    height: 50px;
    margin-top: 50px;
    border-radius: 15px;
    background-color: #00AFCE;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    border: 1px solid #00AFCE;
    font-family: Fonte;
    cursor: pointer;
}

.Abra:hover{
    background-color: #00869e;
    border: 1px solid #00869e;
}

@media screen and (min-width: 1900px){
    .CircuitoTamanhoD{
        margin-left: 0;
    }

    .CartaoTamanho{
        margin-left: 150px;
        width: 800px;
    }

    .CircuitoTamanho{
        width: 850px;
    }

    .Baixo{
        margin-top: 100px;
    }

    h3{
        font-size: 60px;
    }

    .p_Cartao{
        font-size: 45px;
        text-align: center;
        padding: 80px;
    }

    .CircuitoTamanhoD{
        width: 850px;
        margin-top: 150px;
        float: right;
    }

    .Botao{
        margin-top: 50px;
    }
}

@media screen and  (min-width: 701px) and (max-width: 1000px) {
    .CircuitoEsq{
        width: 100%;
    }

    .CartaoDuplo{
        width: 100%;
        text-align: center;
    }

    .TextoCartao{
        width: 100%;
    }

    .CircuitoDir{
        width: 100%;
    }

    .CircuitoTamanhoD{
        margin-left: 10px;
    }

    h3{
        font-size: 40px;
    }

    .p_Cartao{
        font-size: 25px;
        text-align: center;
        padding: 80px;
    }
}

@media screen and (min-width: 450px) and (max-width: 700px){

    .CircuitoEsq{
        width: 100%;
    }

    .CircuitoTamanho{
        width: 500px;
    }

    .CartaoTamanho{
        width: 500px;
        margin-left: 0;
    }

    .CartaoDuplo{
        width: 100%;
        text-align: center;
    }

    .TextoCartao{
        width: 100%;
    }

    .CircuitoDir{
        width: 100%;
    }

    .CircuitoTamanhoD{
        width: 500px;
        margin-left: 10px;
    }

    h3{
        font-size: 40px;
    }

    .p_Cartao{
        font-size: 25px;
        text-align: center;
        padding: 80px;
    }
}

@media screen and (max-width: 450px) {
    .CircuitoEsq{
        width: 100%;
        height: 400px;
    }

    .CircuitoTamanho{
        width: 400px;
    }

    .CartaoTamanho{
        width: 400px;
        margin-left: 0;
    }

    .CartaoDuplo{
        width: 100%;
        text-align: center;
        height: auto;
    }

    .TextoCartao{
        width: 100%;
        height: auto;
    }

    .CircuitoDir{
        width: 100%;
        height: auto;
    }

    .CircuitoTamanhoD{
        width: 400px;
        margin-left: 10px;
    }

    h3{
        font-size: 40px;
    }

    .p_Cartao{
        font-size: 25px;
        text-align: center;
        padding: 80px;
    }

    .Abra {
        width: 90%;
    }
}